* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    border: none;
    outline: none;
}

:root {
    --dark-clr: #334155;
    --second-dark-clr: #112e42;
    --text-clr: #f1f5f9;
    --light-text-clr: #cdd9e8;
    --btn-clr: #0ea5e9;
    --global-clr: #0fbbff;
    --btn-hover-clr: #33b4ff;
}

html {
    line-height: calc(1em + 0.5rem);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background: var(--second-dark-clr);
    color: var(--text-clr);
    line-height: 1.3;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease;
}

header {
    width: 100%;
    background: transparent;
    z-index: 1000;
    padding: 1.5rem 0;
}

header .navbar ul li a::after {
    content: '';
    position: absolute;
    background: var(--global-clr);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -2px;
    pointer-events: none;
    transition: .3s;
}

.navbar ul li a:hover,
.navbar ul li .active {
    color: var(--global-clr);
}

header .navbar ul li a:hover::after,
.navbar ul li .active::after {
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 10%;
}

.logo {
    position: relative;
    color: var(--text-clr);
    font-weight: 700;
    font-size: 2rem;
}

.logo span {
    color: var(--global-clr)
}

.navbar ul {
    display: flex;
    gap: 1rem;
    position: relative;
}

header .navbar ul li {
    position: relative;
    margin-right: 20px;
}

.navbar ul li a {
    position: relative;
    font-size: 1.3rem;
    font-weight: 500;
    margin-left: 20px;
    color: var(--text-clr);
}

.cvbtn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    background: transparent;
    color: var(--text-clr);
    padding: 12px;
    border: 1px groove var(--btn-clr);
    border-radius: 5px;
    box-shadow: 0 0 5px var(--btn-clr);
    cursor: pointer;
    transition: .5s;
    z-index: 1;
}

.cvbtn::before {
    content: '';
    position: absolute;
    background: var(--btn-hover-clr);
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: .5s;
    z-index: -1;
}

.cvbtn:hover {
    color: var(--light-text-clr);
}

.cvbtn:hover::before {
    width: 100%;
    box-shadow: 0 0 5px var(--btn-clr),
        0 0 10px var(--btn-clr),
        0 0 15px var(--btn-clr);
}

/* hero section */
.hero-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 10%;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    border: 5px groove white;
    border-radius: 20%;
    box-shadow: 10px 10px 5px var(--dark-clr);
    filter: drop-shadow(0, 0, 60px var(--global-clr));
}

.hero-content {
    max-width: 100%;
    text-align: center;
}

.hero-content h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

.hero-content h1 {
    font-size: 3rem;
    font-weight: 700;
}

.hero-content h2 {
    font-size: 2rem;
    font-weight: 600;
}

.hero-content h2 span {
    color: var(--global-clr);
}

.hero-content p {
    font-size: 1.2rem;
    margin: 1rem 0;
}

/* social icons */
.social-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.social-icons a {
    display: inline-flex;
    font-size: 2rem;
    background: transparent;
    color: var(--global-clr);
    transition: .5s;
}

.social-icons a:hover {
    transform: translateY(-10px);
}

/* skill section */
.skill-section {
    display: block;
    position: relative;
    padding: 2rem;
    width: 100%;
    height: auto;
    min-height: 100vh;
    background: var(--second-dark-clr);
    color: var(--text-clr);
}

.skill-section h1 {
    text-align: center;
    position: relative;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.skill-section h1 span {
    color: var(--global-clr)
}

.skill-container {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
    line-height: 5rem;
    font-size: 2rem;
}

.skill-tech2-container {
    position: relative;
    text-align: center;
}
.skill-tech1-container,
.skill-tech2-container {
    width: 100%;
    height: 100%;
}

.skill-tech1-container .Java,
.css,
.html,
.javascript,
.sql {
    position: relative;
}

.skill-tech1-container .progross span {
    position: relative;
    display: block;
    border-radius: .3rem;
    border: 1px solid var(--btn-clr);
    width: 100%;
    height: 1rem;
}

.skill-tech1-container .progross span::after {
    content: '';
    display: flex;
    position: absolute;
    background: var(--btn-hover-clr);
    height: 100%;
}

.skill-tech1-container .progross.Java span::after {
    width: 90%;
}

.skill-tech1-container .progross.css span::after {
    width: 70%;
}

.skill-tech1-container .progross.html span::after {
    width: 80%;
}

.skill-tech1-container .progross.javascript span::after {
    width: 50%;
}

.skill-tech1-container .progross.sql span::after {
    width: 60%;
}

.radial-bars {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.radial-bars .radial-bar {
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}

.radial-bars .radial-bar svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 160px;
}

.path {
    stroke-width: 10;
    stroke: var(--global-clr);
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}

.text,
.percentage {
    font: 1rem sans-serif;
}

/* project section */

.project-section{
    width: 100%;
    height: 100vh;
}

.project-section h1{
    text-align: center;
    text-transform: uppercase;
}

.project-section h1 span{
    color: var(--global-clr);
}

/* Card Container */
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Card Styles */
.card {
    width: 505px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    font-size: larger;
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Card Image */
.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Card Content */
.card-content {
    padding: 15px;
    text-align: center;
}

.card-title {
    font-size: 1.5em;
    margin: 10px 0;
    color: #333;
}

.card-description {
    font-size: 1em;
    color: #666;
    margin-bottom: 20px;
}

.card-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.card-button:hover {
    background-color: #0056b3;
}

.slider-container{
    position: relative;
    width: 40%;
    min-width: 420px;
    overflow: hidden;
    border: 2px solid #ccc;
    border-radius: 10px;
    background: #fff;
}

.slider{
    display: flex;
    transition: transform .5s ease-in-out;
}

.slider-img{
    width: 100%;
    flex-shrink: 0;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 100;
    border-radius: 50%;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev {
    left: 10px;
    font-size: larger;
}

.next {
    right: 10px;
    font-size: larger;
}

.project-container{
    position: relative;
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* about section */

#about {
    position: relative;
    padding: 160px 20px;
    background-color: inherit;
}

.about-container {
    min-width: 100%;
    margin: 0 auto;
    text-align: center;
    height: auto;
}

.about-content {
    position: relative;
    display: flex;
    gap: 0  rem;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about-text {
    max-width: 600px;
    text-align:justify;
    line-height: 2rem;
    font-size: 1.3rem;
}
.about-text p{
    margin-bottom: 20px;
}
.about-container span {
    color: var(--global-clr);
}

.about-image img {
    width: 250px;
    border-radius: 10%;
    border: .5rem inset var(--btn-clr);
}

.about-container h2 {
    text-transform: uppercase;
    font-size: 2rem;
}

/* footer section */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    min-width: 100%;
}

.menu-icon {
    position: absolute;
    right: 5%;
    font-size: 2rem;
    font-weight: 900;
    display: none;
}

.download-link {
    display: none;
    position: absolute;
    right: 15%;
    font-size: 1.5rem;
    z-index: 1;
}

.download-link:hover {
    padding: .3rem;
    border: .2rem solid var(--global-clr);
    border-radius: 50%;

}

/* media query for responsive */

/* @media (max-width: 1440px){
    .slider-container{
        width: 50%;
    }
    .card{
        padding: 20px;
        width: 715px;
    } 
} */

@media (max-width: 1024px) {
    .cvbtn {
        display: none;
    }

    .download-link {
        display: block;
    }

    #nav-menu {
        display: none;
        position: absolute;
        right: 5%;
        top: 20%;
        z-index: 1000;
        flex-direction: column;
        background-color: var(--second-dark-clr);
        width: 200px;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    #nav-menu li {
        padding: 1em;
        text-align: center;
    }

    .menu-icon {
        display: block;
        cursor: pointer;

    }

    #nav-menu.showmenu {
        display: block;
    }

    .card {
        width: 713px;
        padding: 20px;
    }
    .slider-container{
        width: 70%;
    }
    .prev, .next{
        font-size: 2rem;
    }
    .project-container{
        position: relative;
        top: 10%;
    }   
}

@media (max-width: 768px){
    /* navbr section */
    .cvbtn {
        display: none;
    }

    .download-link {
        display: block;
    }

    #nav-menu {
        display: none;
        position: absolute;
        right: 5%;
        top: 20%;
        z-index: 1000;
        flex-direction: column;
        background-color: var(--second-dark-clr);
        width: 200px;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    #nav-menu li {
        padding: 1em;
        text-align: center;
    }

    .menu-icon {
        display: block;
        cursor: pointer;

    }

    #nav-menu.showmenu {
        display: block;
    }

    /* project section */
    .slider-container{
        width: 30%;
    }
    .card {
        width: 416px;
        padding: 20px;
        font-size: 1rem;
    }
    .project-container{
        position: relative;
        top: 10%;
    }
    #about{
        padding: 0px 20px;
    }
}


@media (max-width: 425px) {

    /* navbr section */
    .cvbtn {
        display: none;
    }

    .download-link {
        display: block;
    }

    #nav-menu {
        display: none;
        position: absolute;
        right: 5%;
        top: 20%;
        z-index: 1000;
        flex-direction: column;
        background-color: var(--second-dark-clr);
        width: 200px;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    #nav-menu li {
        padding: 1em;
        text-align: center;
    }

    .menu-icon {
        display: block;
        cursor: pointer;

    }

    #nav-menu.showmenu {
        display: block;
    }

    /* hero section */
    .hero-container {
        display: block;
    }

    /* skill section */
    .skill-container {
        display: block;
    }

    /* project section */
    .project-container {
        display: block;
    }

    .card{
        width: 415px;
    }
    /* about section */
    .about-container {
        display: block;
    }

    .about-content{
        position: relative;
        top: 50px;
    }

    .about-text{
        font-size: 1rem;
    }

}



 